@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Roboto:wght@300;400;900&display=swap');
@import url('http://fonts.cdnfonts.com/css/gotham');
.title-container {
	text-align: center;
	margin: 100px;
}

.title {
	color: black;
	font-family: 'Roboto';
	font-size: 48px;
	font-weight: 900;
	margin: 20px
}

.subtitle {
	font-family: 'Poppins';
	font-weight: 300;
	font-size: 18px;
	max-width: 400px;
	color: #7d7c83;
	margin: 0 auto;
}

#result {
	margin: 20px auto;
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 80px;
	align-items: center;
	justify-content: center
}

#row {
	height: auto;
	display: inline-block;
	margin: 0px auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 10px 10px 100px rgba(20, 20, 20, 1);
}

.item {
	height: 31px;
	width: 300px;
	transition: 0.2s;
}

.item:first-child {
	height: 80px;
	position: relative
}

.item:last-child {
	height: 200px
}

.item:hover {
	cursor: pointer
}

.color-name {
	color: black;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	font-size: 10px;
	letter-spacing: 2px;
	margin-top: 11px;
	margin-left: 25px;
	display: inline-block;
	font-weight: 400
}

.first-color-name {
	position: absolute;
	bottom: 5px;
	left: 26px;
	transform: translate(-50%, -50%)
}

.is-dark {
	color: white
}

.row-wrapper {
	width: 30vw;
	height: auto;
	position: relative;
	margin: -1px;
	border-radius: 5px 5px 0px 0px;
}

.row-fav-count {
	font-family: 'Poppins';
	margin-left: 15px;
	color: #646369;
	margin: 10px 15px
}

.row-container {
	border: 1px solid #DBDBDB;
	border-radius: 5px;
}